.inputBox {
    position: relative;
    box-sizing: border-box;
    margin-bottom:20px;
}

.input {
    position: relative;
    width: 100%;
    height:50px;
    background: transparent;
    border:1px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 24px;
}

.inputText {
    position: absolute;
    line-height: 50px;
    font-size: 24px;
    transition: .5s;
    opacity: .5;
    background-color: white;
}

.focus .inputText {
    transform: translate(-30px);
    font-size: 18px;
    opacity: 1;
    color: mediumspringgreen;
}
  